table {
    width: 350px;
    border-collapse: collapse;
    margin: auto;
}

th {
    background-color: lightgray;
    color: green;
}

th, td {
    padding: 5px;    
}

td:nth-child(2) {
    text-align: center;
}